<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center"> Add Doctor Info</h1>
    <div class="col-6 offset-3">
        <form action="/hospitals/<%=hospital._id%>/doctors" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Name </label>
                <input class="form-control" type="text" id="name" name="doctor[name]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="department">Department </label>
                <input class="form-control" type="text" id="department" name="doctor[department]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email"> Email </label>
                <input class="form-control" type="email" id="email" name="doctor[email]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="availabledays">Avalilabe Days </label>
                <input class="form-control" type="text" id="availabledays" name="doctor[availabledays]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="education">MBBS from </label>
                <input class="form-control" type="text" id="education" name="doctor[education]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="start_time">Chamber starting time </label>
                <input class="form-control" type="time" id="start_time" name="doctor[start_time]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="end_time">Chamber ending time </label>
                <input class="form-control" type="time" id="end_time" name="doctor[end_time]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="room_no"> Room No. </label>
                <input class="form-control" type="text" id="room_no" name="doctor[room_no]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Add Image </label>
                <input class="form-control" type="text" id="image" name="doctor[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            
            <div class="mb-3">
                <button class="btn btn-success">Add Doctor</button>
            </div>
        </form>
    </div>
</div>