<% layout('layouts/boilerplate2') %>

<form action="" method="">
    <div>
      <label for="name">Your Name</label>
      <input type="text" id="name" name="visitor_name" placeholder="John Doe" required>
    </div>
    
    <div>
      <label for="email">Your E-mail</label>
      <input type="email" id="email" name="visitor_email" placeholder="john.doe@email.com" required>
    </div>
    <div>
      <label for="phone">Your Phone</label>
      <input type="tel" id="phone" name="visitor_phone" placeholder="498-348-3872" required>
    </div>
    
    <div>
      <label for="age">Age</label>
      <input type="number" id="age" name="age" required>
    </div>
    <div>
      <label for="gender">Gender</label>
      <input type="text" id="gender" name="gender" required>
    </div>
    <div>
      <label for="checkin-date">Appointment Date</label>
      <input type="date" id="checkin-date" name="checkin" required>
    </div>
    <div>
      <label for="apptime">Choose Appointment Time</label>
      <select id="apptime" name="apptime" required>
          <option value="">Choose a Time from the List</option>
          <option value="">5.00 PM - 5.15 PM</option>
          <option value="">5.15 PM - 5.30 PM</option>
          <option value="">5.30 PM - 5.45 PM</option>
      </select>
    </div>
    
    <div>
      <label for="message">Anything Else?</label>
      <textarea id="message" name="visitor_message" placeholder="Tell us anything else that might be important." required></textarea>
    </div>
    <button type="submit">COMPLETE THE APPOINTMENT</button>
  </form>